<div class="visible-print" style="font-size: 10px">
    <h5>Your Playa Plan</h5>
    <h6>Camps</h6>
    <table class="table" ng-show="campsPlan.length">
        <tr ng-repeat="camp in campsPlan">
            <td>
                <p>
                    <strong>{{camp.name}}</strong>
                    <br/>{{camp.description}}
                    <span ng-show="camp.url">
                        <br/><strong>Website:</strong> <a href="{{camp.url}}">{{camp.url}}</a>
                    </span>
                </p>
            </td>
        </tr>
    </table>
    <p ng-show="!campsPlan.length">There are no camps in your plan.</p>
    <table class="table" ng-show="eventsPlan.length">
        <tr ng-repeat="dayOfEvents in eventsPlan">
            <td>
                <h6>Events on {{dayOfEvents.day | amDateFormat:'ddd MMM D YYYY'}}</h6>
                <table class="table">
                    <tr ng-repeat="event in dayOfEvents.events">
                        <td>
                            <p>
                                <strong>{{event.title}}</strong><br/>
                                {{event.occurrenceSet[0].startTime | amDateFormat:'h:mm A'}} - {{event.occurrenceSet[0].endTime | amDateFormat:'h:mm A'}}<br/>
                                {{event.description | description}}
                                <span class="text-warning" ng-show="event.checkLocation"><br/>Check Directory at Playa Info for Camp Location</span>
                                <br/><strong>Event Type: </strong>{{event.eventType | eventType: event.allDay}}
                                <span ng-show="event.hostingCamp">
                                    <br/><strong>Hosting Camp: </strong>{{event.hostingCamp.name}}
                                </span>
                                <span ng-show="event.locatedAtArt">
                                    <br/><strong>Art Piece: </strong>{{event.locatedAtArt | locatedAtArt}}
                                </span>
                                <span ng-show="event.otherLocation">
                                    <br/><strong>Location Info: </strong>{{event.otherLocation}}
                                </span>
                                <span ng-show="event.url">
                                    <br/><strong>Website: </strong><a href="{{event.url}}">{{event.url}}</a>
                                </span>
                            </p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <p ng-show="!eventsPlan.length">There are no events in your plan.</p>
</div>
