<div class="panel" ng-class="{'panel-danger': !entity, 'panel-primary': entity}" ng-show="$parent.mode != 'Plan' || isInPlan">
    <div class="panel-heading clearfix">
        <div class="row">
            <div class="col-xs-12">
                <h3 class="panel-title" ng-show="!entity">Event Not Found!</h3>

                <h3 class="panel-title" ng-show="entity">{{entity.title}}</h3>
                <h6 ng-show="entity">{{entity.eventType | eventType: entity.allDay}} at Burning Man 2015
                    <br ng-show="entity.hostingCamp"/>{{entity.hostingCamp | hostingCampDisplay}}</h6>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="btn-toolbar" role="toolbar" aria-label="Event Info Toolbar" ng-show="entity">
                    <div class="btn-group pull-left" role="group" aria-label="Event Info Links"
                         ng-visible="entity.hostingCamp || entity.url">
                        <a class="btn btn-default" aria-label="Event Camp" ng-show="entity.hostingCamp"
                           ui-sref="camp({campId: entity.hostingCamp.id})" title="Event Camp">
                            <span class="glyphicon glyphicon-tent" aria-hidden="true"></span>
                        </a>
                        <a class="btn btn-default" aria-label="Event Website" ng-show="entity.url"
                           href="{{entity.url}}" target="_blank" title="Event Website">
                            <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
                        </a>
                    </div>
                    <div class="btn-group pull-right text-right" role="group" aria-label="Event Info Tabs" ng-switch="isInPlan">
                        <label class="btn btn-default" aria-label="Event Description"
                               ng-model="eventInfoTab" btn-radio="'Description'" title="Event Description">
                            <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                        </label>
                        <label class="btn btn-default" aria-label="Event Schedule" ng-model="eventInfoTab"
                               btn-radio="'Schedule'" title="Event Schedule">
                            <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                        </label>
                        <label class="btn btn-default" aria-label="Event Location" ng-model="eventInfoTab"
                               btn-radio="'Location'" title="Location Info">
                            <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                        </label>
                        <label class="btn btn-success" aria-label="Add To Plan" ng-click="addToPlan()" ng-switch-when="false" title="Add To Plan">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        </label>
                        <label class="btn btn-danger" aria-label="Remove From Plan" ng-click="removeFromPlan()" ng-switch-when="true" title="Remove From Plan">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-body" collapse="eventInfoTab != 'Description'">
        <p ng-show="!entity">The requested event could not be found.</p>
        <h5 ng-show="entity">Description</h5>

        <p ng-show="entity">{{entity.description | description}}</p>
    </div>
    <div class="panel-body" collapse="eventInfoTab != 'Schedule'">
        <h5>Event Schedule</h5>
        <table class="table table-condensed table-striped info-table">
            <tr ng-repeat="occurrence in entity.occurrenceSet">
                <td class="text-right">{{occurrence.startTime | amDateFormat:'ddd MMM D YYYY'}}:</td>
                <td>{{occurrence.startTime | amDateFormat:'h:mm A'}} - {{occurrence.endTime | amDateFormat:'h:mm A'}}</td>
            </tr>
        </table>
    </div>
    <div class="panel-body" collapse="eventInfoTab != 'Location'">
        <h5>Location Info</h5>

        <p class="text-warning" ng-show="entity.checkLocation">Check Directory at Playa Info for
            Camp Location</p>
        <table class="table table-condensed info-table">
            <tr ng-show="entity.hostingCamp">
                <td class="text-right">Hosting Camp:</td>
                <td>
                    <a ui-sref="camp({campId: entity.hostingCamp.id})">{{entity.hostingCamp.name}}</a>
                </td>
            </tr>
            <tr ng-show="entity.locatedAtArt">
                <td class="text-right">Art Piece:</td>
                <td>{{entity.locatedAtArt | locatedAtArt}}</td>
            </tr>
            <tr ng-show="entity.otherLocation">
                <td class="text-right">Location Info:</td>
                <td>{{entity.otherLocation}}</td>
            </tr>
        </table>
    </div>
</div>
