<div class="row">
    <div class="col-md-5 col-md-offset-7">
        <div class="panel" ng-class="{'panel-danger': !event, 'panel-primary': event}">
            <div class="panel-heading clearfix">
                <h3 class="panel-title" ng-show="!event">Event Not Found!</h3>
                <h3 class="panel-title" ng-show="event">{{event.title}}</h3>
                <h6 ng-show="event">{{event.eventType | eventType}} at Burning Man 2015
                    <br ng-show="event.hostingCamp"/>{{event.hostingCamp | hostingCampDisplay}}</h6>
                <div class="btn-toolbar" role="toolbar" aria-label="Event Info Toolbar" ng-show="event">
                    <div class="btn-group pull-left" role="group" aria-label="Event Info Links" ng-visible="event.hostingCamp || event.url">
                        <a class="btn btn-default" aria-label="Event Camp" ng-show="event.hostingCamp" ui-sref="camp({campId: event.hostingCamp.id})">
                            <span class="glyphicon glyphicon-tent" aria-hidden="true"></span>
                        </a>
                        <a class="btn btn-default" aria-label="Event Website" ng-show="event.url" href="{{event.url}}" target="_blank">
                            <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
                        </a>
                    </div>
                    <div class="btn-group pull-right" role="group" aria-label="Event Info Tabs">
                        <label class="btn btn-default" aria-label="Event Description" ng-model="eventInfoTab" btn-radio="'Description'">
                            <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                        </label>
                        <label class="btn btn-default" aria-label="Event Schedule" ng-model="eventInfoTab" btn-radio="'Schedule'">
                            <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                        </label>
                        <label class="btn btn-default" aria-label="Event Location" ng-model="eventInfoTab" btn-radio="'Location'">
                            <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="panel-body" collapse="eventInfoTab != 'Description'">
                <p ng-show="!event">The requested event could not be found.</p>
                <h5 ng-show="event">Description</h5>
                <p ng-show="event">{{event.description | description}}</p>
            </div>
            <div class="panel-body" collapse="eventInfoTab != 'Schedule'">
                <h5>Event Schedule</h5>
                <table class="table table-condensed table-striped info-table">
                    <tr ng-repeat="occurrence in event.occurrenceSet">
                        <td class="text-right">{{occurrence.startTime | dateString}}:</td>
                        <td>{{occurrence.startTime | time}} - {{occurrence.endTime | time}}</td>
                    </tr>
                </table>
            </div>
            <div class="panel-body" collapse="eventInfoTab != 'Location'">
                <h5>Location Info</h5>
                <p class="text-warning" ng-show="event.checkLocation">Check Directory at Playa Info for Camp Location</p>
                <table class="table table-condensed info-table">
                    <tr ng-show="event.hostingCamp">
                        <td class="text-right">Hosting Camp:</td>
                        <td><a ui-sref="camp({campId: event.hostingCamp.id})">{{event.hostingCamp.name}}</a></td>
                    </tr>
                    <tr ng-show="event.locatedAtArt">
                        <td class="text-right">Art Piece:</td>
                        <td>{{event.locatedAtArt | locatedAtArt}}</td>
                    </tr>
                    <tr ng-show="event.otherLocation">
                        <td class="text-right">Other Location:</td>
                        <td>{{event.otherLocation}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
